<%-include('../templates/head.ejs')%>
<body>
  <%-include('../templates/nav.ejs')%>
  <main class="main-main">
    <% if(user) { %>
    <div class="user-info">
      <p class="user-email"><%=user.email%></p>
    </div>
    <% } %>
    <div class="card-container" style="background-color: rgb(243, 182, 27);">
      <p class="product-total" style="background-color: rgb(243, 182, 27); color: white"><%=pageTitle%></p>
    </div>
    <h1 class="page-title">Products for the Holidays</h1>
  </main>
</body>
