<%- include('../templates/head.ejs') %>
  <body>
    <%- include('../templates/nav.ejs') %>
     <div class="err">
      <h1><%=pageTitle%></h1>
      <p>Come back later</p>
     </div>
  </body>
</html>
